html{
    height: auto;
    min-height: 100%;
}
body{
    /* Se genera de arriba hacia abajo */
    /* background: linear-gradient(green, goldenrod, red); */
    /* Se genera desde la derecha */
    /* background: linear-gradient(to right,green, goldenrod, red); */
    /* background: linear-gradient(to bottom right,rgb(105, 241, 105), rgb(247, 125,55), red); */
    /* Fondo en diagonal */
    /* background: linear-gradient(120deg,rgb(105, 241, 105), rgb(247, 125,55), red); */
    background: radial-gradient(circle,rgb(19, 0, 128), rgb(121, 241, 121));
    color: whitesmoke;

}
h1{
    color: blueviolet;
    text-align: center;
}

div{
    margin: auto;
    height: 20%;
    width: 32%;
    border: 3px dashed goldenrod;
    text-align: center;
    overflow: hidden;
    object-fit: contain;
}

div.img{
    position: fixed;
}