h1,h2{
    color: cadetblue;
    font-family: monospace;
    text-align: center;
    text-shadow: 2px 1px 5px rgb(83, 83, 83);
    letter-spacing: 2px;
}

.content{
    border: 3px dotted green;
    color: chartreuse;
    margin: auto;
    width: 47.5%;
    height: 20%;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(209, 242, 243);
    overflow: hidden;
    box-shadow: 2px 5px 20px rgb(83, 83, 83);
    
}

div.content h2{
    color: rgb(63, 63, 63);
}