h1{
    margin: 0px 15px 0px 15px;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgb(132, 187, 250);
    text-align: center;
    color: rgb(230, 166, 29);
    background-color: beige;
    padding: 5px;
    border: dashed rgb(107, 221, 14);
    border-radius: 10px;
    letter-spacing: 2px;
    word-spacing: 3px;
    text-decoration: overline underline;
}

.caja{
    padding: 15px;
    margin: auto;
    margin-top: 10px;
    width: 70%;
    font-size: 20px;
    background-color: #219ebc;
    border-radius: 10px;
    border: dotted beige;
    color: white;
}

.texto{
    text-align: justify;
    /* direction: rtl; */
    text-indent: 30px;
    line-height: 1.5;
    text-shadow: 2px 2px 2px rgb(132, 187, 250);
}